h1 {
  text-align: center;
}

table {
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
}

.horizontal {
  border-left: 1px black solid;
  border-right: 1px black solid;
}

.num {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}