<!DOCTYPE html>
<html lang="en">
	<head>
		<title>making pic blog practice</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/app.css">
		<script src="https://kit.fontawesome.com/34925e9959.js" crossorigin="anonymous"></script>
	</head>
	<body>
		
		<div class="topBarContainer">
			<nav class="topBar">
				<ul>
					<li><a><i class="fas fa-terminal"></i></a></li>
					<li><a href="/home">Home</a></li>
					<li><a href="/home/new">New Post</a></li>
				</ul>
			</nav>
		</div>
		
		