<%- include("partials/header") %>
	<div class="postFormContainer">
		<h1>
			POST NEW HERE!
		</h1>
		<form class="postForm" action="/home" method="POST">
			<div class="labelContainer">
				<label> Image
					<input class="image" type="text" name="item[image]" placeholder="image URL">
				</label>
			</div>
			<div class="labelContainer">
				<label> Title
					<input class="title" type="text" name="item[title]" placeholder="title">
				</label>
			</div>
			<div class="labelContainer">
				<label> Inner Image One
					<input class="innerImage" type="text" name="item[innerImageOne]" placeholder="inner image ULR">
				</label>
			</div>
			<div class="labelContainer">
				<label> Inner Image Two
					<input class="innerImage" type="text" name="item[innerImageTwo]" placeholder="inner image ULR">
				</label>
			</div>
			<div class="labelContainer">
				<label> Inner Image Three
					<input class="innerImage" type="text" name="item[innerImageThree]" placeholder="inner image ULR">
				</label>
			</div>
			<div class="labelContainer">
				<label> Inner Image Four
					<input class="innerImage" type="text" name="item[innerImageFour]" placeholder="inner image ULR">
				</label>
			</div>
			<div class="labelContainer">
				<label> Description
					<textarea class="description" type="text" name="item[description]" placeholder="description"></textarea>
				</label>
			</div>
			<button class="submitBtn">
				Submit
			</button>
		</form>
	</div>
<%- include("partials/footer") %>