<%- include ("partials/header") %>

<h1>You fell in love with: <%= thing %></h1>

<% if(thing.toLowerCase() === "rusty"){ %>
    <p>Good choice! rusty is the best!</p>
<% }%>


<p>PS this is from love.ejs file</p>

<%- include ("partials/footer") %>