* {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
}

.kimchiContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.imgContainer {
    width: 30%;
    position: absolute;
    z-index: 3;
}

.imgCotnainer img{
    width: 100px;
    height: 200px;
}

.imgContainer:hover {
    opacity: 0.5;
}

.textContainer {
    width: 30%;
    height: 200px;
    position: absolute;
    z-index: 2;
    
}

.textContainer p{
    transform: translate(-50%, -50%);
}