h2 {
  font-family: Source Sans Pro;
  color: #2c3e50;
}

p {
  margin-left: 10px;
}

.fir{
  border-left: 3px solid #bdc3c7;
  padding-left: 10px;
}

body{
  border: 20px solid #bdc3c7;
  margin-left: 10%;
  margin-right: 10%;
}